
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    margin: 0;
   
}
.div1{
    height: 100px;
    width:  90x;
    background-color: #F5F5F5;
    padding-left: 70px;
    padding-top: 25px;
    padding-bottom: 30px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
}
.div2{
    height: 800px;
    width: 90x;
    background-color: #F5F5F5;
    padding-top: 50px;
    display: flex;
   
}

.div3{
    height: 3040px;
    width:  90x;
 

}

.div4{
    height: 200px;
    width:  90x;
    font-family: "Poppins", system-ui;
    color: #313131;
    display: flex;
    font-size: 40px;

}

.top1{
    margin: 70px;
    padding-right: 2478px;
    padding-left: 22px;
}

.top2{
    padding-top: 25px;
    padding-right: 140px;

}

.top3{
    padding-top: 25px;
}

.fotos{
    margin: 70px;
    display:inline-block;
}

.img1{
    padding-left: 20px;
    padding-bottom: 70px;
    height: 900px;
    width: 900px;
}
.img2{
    padding-left:70px;
    padding-bottom: 70px;
    height: 900px;
    width: 900px;
}
.img3{
    padding-left: 70px;
    padding-bottom: 70px;
    height: 900px;
    width: 900px;
}
.img4{
    padding-left: 70px;
    padding-bottom: 70px;
    height: 900px;
    width: 900px;
}
.img5{
    padding-left: 20px;
    padding-bottom: 70px;
    height: 900px;
    width: 900px;
}
.img6{
    padding-left: 70px;
    padding-bottom: 70px;
    height: 900px;
    width: 900px;
}
.img7{
    padding-left: 70px;
    padding-bottom: 70px;
    height: 900px;
    width: 900px;
}
.img8{
    padding-left: 70px;
    padding-bottom: 70px;
    height: 900px;
    width: 900px;
}
.img9{
    padding-left: 20px;
    height: 900px;
    width: 900px;
}
.img10{
    padding-left: 70px;
    height: 900px;
    width: 900px;
}
.img11{
    padding-left: 70px;
    height: 900px;
    width: 900px;
}
.img12{
    padding-left: 70px;
    height: 900px;
    width: 900px;
}
.perfil{
    display: flex;
    padding-left: 70px;
    padding-top: 70px;
    height: 500px;

}
.titulo{
   padding-left: 150px;
   font-size: 100px;
   font-family: "Poppins", system-ui;
   margin-top: 80px;
   color: #313131;
   line-height: 0;
   padding-top: 55px;


}
.pesq{
    display: flex;

}
.lupa{
    height: 55px;
    width: 55px;
    padding-top: 45px;

}
.p1 {
    font-style: normal;
    padding-left: 75px;
    padding-right: 8px;
    font-size: 40px;
    font-family: "Poppins", system-ui;
    color: #313131;

}
.p2 {
    font-style:normal;
    padding-left: 100px;
    padding-right: 80px; 
    font-size: 40px;
    font-family: "Poppins", system-ui;
    color: #313131;
}
.p3{
    font-size: 45px;
    max-width: 1200px;
    padding-left: 150px;
    font-family: "Poppins", system-ui;
    color: #313131;
    
}
.p4{
    font-family: "Poppins", system-ui;
    padding-left: 900px;
    font-size: 33px;
}
.p5{
    font-family: "Poppins", system-ui;
    padding-left: 900px;
    font-size: 33px;
}
.p6{
    font-family: "Poppins", system-ui;
    padding-left: 900px;
    font-size: 33px;



}
.icons {
    padding-top: 150px;
    margin-left: 850px;
    padding-left: 450px; 
   
}
.fto1{
    padding-top: 25px;
    height: 100px;
    width: 100px;
}
.map {
    display: flex;
    align-items: center; 
    gap: 10px; 
    font-family: "Poppins", system-ui;
}
.aviao {
    display: flex;
    align-items: center; 
    gap: 10px; 
    font-family: "Poppins", system-ui;
   
}
.img {
    display: flex;
    align-items: center; 
    gap: 10px; 
    font-family: "Poppins", system-ui;
   
}
.po2 {
    height: 70px;
    width: 70px;
  
}
.po1 {
    height: 70px;
    width: 70px;
    
   
}
.po {
    height: 70px;
    width: 70px;
   
   
}
.texto {
    font-size: 40px; 
    margin: 0; 
    padding: 0;
    line-height: 100px;
}